fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
alembic==1.13.3
pydantic-settings==2.5.2
python-dotenv==1.0.1
bcrypt==3.2.2
python-jose==3.5.0
rsa==4.9.1
dnspython==2.8.0
email-validator==2.3.0
requests==2.32.3
psycopg2-binary==2.9.9
azure-storage-blob[aio]==12.23.1
Pillow==11.2.1
pillow-heif==0.22.0
python-multipart==0.0.20
pytesseract==0.3.13
